<nav class="navbar navbar-expand-md fixed-top">
  <div
    class="navbar-collapse collapse w-100 order-1 order-md-0 navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#about-me-section">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#my-work-section">My Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact-section">Contact</a>
      </li>
    </ul>
    <hr />
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="/">Eyad Kobatte</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target=".navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
  </div>
<!-- 
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target=".navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <small>Menu</small>
  </button> -->

  <div class="navbar-collapse collapse w-100 order-3 navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="#">Github</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Twitter</a></li>
      <li class="nav-item"><a class="nav-link" href="#">LinkedIn</a></li>
    </ul>
  </div>
</nav>
