:root {
  --color-blue-800: #2c5282;
  --color-blue-900: #2a4365;
  --color-gray-900: #1a202c;
  --color-white: #ffffff;
}

* {
  color: var(--color-gray-900);
}

.anchors {
  background-image: linear-gradient(
    to right,
    var(--color-blue-800),
    var(--color-blue-900)
  );
  background-position: left 0 bottom 0;
  background-size: 100% 0.2rem;
  background-repeat: no-repeat;
  color: var(--color-gray-900);
  padding: 0.2rem 0.2rem 0 0.2rem;
}

.anchors:hover {
  background: linear-gradient(
    to right,
    var(--color-blue-800),
    var(--color-blue-900)
  );
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s ease;
}

.anchors:active {
  background: var(--color-blue-900);
  color: var(--color-white);
}

.small-width-text {
  min-width: 20rem;
  width: 50%;
  margin: 0 auto;
}
