<!DOCTYPE html>
<html>
  <head>
    <title>Eyad Kobatte</title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div style="margin-top: 56px"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col" style="padding: 0px">
          <% include ../partials/navbar.ejs %>
        </div>
      </div>

      <div class="row" id="about-me-section" style="margin-top: 4em;">
        <div class="col">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h4>Hello World!</h4>
                <p>
                  I am <span class="font-weight-bold">Eyad Kobatte</span>. Full
                  Stack Web Developer based in Bangalore, India. I build
                  progressive web apps using the latest frameworks like
                  <a href="https://angular.io">Angular</a>,
                  <a href="https://reactjs.org/">React</a> on the front end and
                  <a href="https://nodejs.org/en/">Node.js</a> on the backend
                </p>
                <p>
                  Check out this website to see some of my work. You can also
                  check out my github too. Feel free to drop me a message any
                  time
                </p>
                <div class="business-card-container">
                  <div class="front">
                    <img
                      class="image-in-business-card img-responsive"
                      src="images/EK.png"
                      alt="E K"
                    />
                    <div>
                      <h2 class="header-in-business-card-front">
                        Eyad Kobatte
                      </h2>
                      <h2 class="h6">Web Developer</h2>
                    </div>
                  </div>
                  <div class="back">
                    <h2 class="h6">Find me on</h2>
                    <div class="row">
                      <div class="col-6">
                        <img src="images/github.svg" alt="Github Icon" /> <h2 class="h6 d-inline icon-text">Github</h2></div>
                      <div class="col-6"><img src="images/twitter.svg" alt="Twitter Icon"> <h2 class="h6 d-inline icon-text">Twitter</h2></div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                      <div class="col-6"><img src="images/linkedin.svg" alt="Linkedin Icon"> <h2 class="h6 d-inline icon-text">Linkedin</h2></div>
                      <div class="col-6"><img src="images/email.svg" alt="Email Icon"> <h2 class="h6 d-inline icon-text">Email</h2></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <!-- <img
                  src="images/Eyad Kobatte.jpeg"
                  alt="Eyad Kobatte"
                  style="max-width: 100%;"
                  class="img-fluid rounded mx-auto d-block"
                /> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="row" id="my-work-section" style="margin-top: 4em;">
        <div class="col">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <img
                  src="images/macbook.jpg"
                  alt="About Me"
                  style="max-width: 100%;"
                  class="img-fluid rounded mx-auto d-block"
                />
              </div>
              <div class="col-sm-12 col-md-6 about-me-text">
                <h3>My Work</h3>
                <p>
                  I build complete web apps using the MEAN Stack and I love
                  doing it. Take a look at what I have done so far
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
